.mb{
    font-family: STIX TWO TEXT;
}
body{
    overflow-x: hidden;
}

.wav{
    height: 27%;
    width: 25%;
    padding-left: 0rem;
    padding-bottom: 10rem;
    margin-left: 2rem;
    margin-bottom: -14rem;
    margin-top: -11rem;
    position: relative;
    transform: rotate(
18deg
);
}
.par{
    font-family: Tenali Ramakrishna;
    font-size: x-large;
}
header li:hover{
    background-color:#36454f;
    border-radius: 3rem;
}
#home{
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 38px;
    padding-top: 2rem;
}
header li{
    font-family: STIX TWO TEXT;
}

.hdi{
    margin-left: 4rem;
    font-family: TWO TEXT;
    margin-bottom: -2;
}

.hdd{
    margin-top: 8rem;
}
.mav{
    padding-top: 4rem;
}
.imh{
    width: 70%;
    height: 100%;
    padding-left: 2rem;
    margin-top: 1rem;
    transition: transform 500ms ease;
}

.imh:hover{
    transform: scale(1.05);
}
.bgg{
    background-color:lightgray;
}
.cards{
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 5%;
}
.cards1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Tenali Ramakrishna;
    font-size: 25px;
    transition: transform 500ms ease;
}

.cards1:hover{
    transform: scale(1.1);
}
.ser{
    font-family: Tenali Ramakrishna;
    font-size: 50px;
}
.ch{
    font-size: 30px;
}
.inp{
    margin-top: 8rem;
    margin-bottom: 3rem;
    font-family: Tenali Ramakrishna;
    font-size: 26px;
}
.en{
    font-size: 43px;
}
.fo{
    margin-bottom: -2rem;
}
.tte{
    margin-top: 8rem;
    background-color: lightgray;
    padding-top: 1%;
}
.el{
    color:rgb(77, 76, 76);
}